<!-- Footer.razor -->

<div class="footer">
    <div class="container">
        <a href="https://github.com/CristianDelgado31/ProjectCodigoFacilito" target="_blank" class="github-link">GitHub</a>
    </div>

</div>
