<div class="header">
    <button @onclick="GoToHome">Home</button>
    <button @onclick="GoToFavorites">Favorites</button>
    <AuthorizeView Roles="Administrator">
        <Authorized>
            <button class="btn-create-character" @onclick="GoToCharacterOperations">Character operations</button>
        </Authorized>
    </AuthorizeView>
    <div>
        <AuthorizeView>
            <Authorized>
                <button @onclick="GoToProfile">Profile</button>
            </Authorized>
            <NotAuthorized>
                <button @onclick="SignIn">Sign In</button>
                <button @onclick="SignUp">Sign Up</button>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void GoToHome()
    {
        NavigationManager.NavigateTo("/get-all-characters");
    }

    private void GoToFavorites()
    {
        // Lógica para ir a la página de Favoritos
        NavigationManager.NavigateTo("/user-favourite-characters");
    }

    private void GoToCharacterOperations()
    {
        NavigationManager.NavigateTo("/character-operations");
    }

    private void SignUp()
    {
        // Lógica para ir a la página de Perfil
        NavigationManager.NavigateTo("/create-user");
    }
    private void SignIn()
    {
        NavigationManager.NavigateTo("/sign-in");
    }

    private void GoToProfile()
    {
        NavigationManager.NavigateTo("/profile");
    }
}

<style>
    body {
        margin: 0;
        padding: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #333;
        color: white;
        height: 50px; /* Ajusta la altura según tus necesidades */
    }

        .header button {
            background-color: transparent;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }

            .header button:hover {
                text-decoration: underline;
            }

    .container {
        max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
        margin: auto;
    }

    .header div {
        display: flex;
        align-items: center;
    }

    .btn-create-character {
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

        .btn-create-character:hover {
            text-decoration: underline;
        }
</style>
