/*body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    height: 50px;*/ /* Ajusta la altura según tus necesidades */
/*}

    .header button {
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

        .header button:hover {
            text-decoration: underline;
        }

.container {
    max-width: 1200px;*/ /* Ajusta el ancho máximo según tus necesidades */
    /*margin: auto;
}

.header div {
    display: flex;
    align-items: center;
}

.btn-create-character {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

    .btn-create-character:hover {
        text-decoration: underline;
    }*/
