<div class="header">
    <button @onclick="GoToHome">Home</button>
    <button @onclick="GoToFavorites">Favorites</button>
    <div>
        <AuthorizeView>
            <Authorized>
                <button @onclick="Logout">Logout</button>
            </Authorized>
            <NotAuthorized>
                <button @onclick="SignIn">Sign In</button>
                <button @onclick="SignUp">Sign Up</button>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void GoToHome()
    {
        NavigationManager.NavigateTo("/get-all-characters"); // Cambiar por la ruta correcta
    }

    private void GoToFavorites()
    {
        // Lógica para ir a la página de Favoritos
        NavigationManager.NavigateTo("/user-favourite-characters"); // Cambiar por la ruta correcta
    }

    private void SignUp()
    {
        // Lógica para ir a la página de Perfil
        NavigationManager.NavigateTo("/create-user"); // Cambiar por la ruta correcta
    }
    private void SignIn()
    {
        NavigationManager.NavigateTo("/sign-in"); // Cambiar por la ruta correcta
    }

    private void Logout()
    {
        // Lógica para cerrar la sesión del usuario
        // Por ejemplo, puedes borrar el token de autenticación del almacenamiento local y redirigir al usuario a la página de inicio
        NavigationManager.NavigateTo("/logout"); // Cambiar por la ruta correcta
    }
}

<style>
    body {
        margin: 0;
        padding: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #333;
        color: white;
        height: 50px; /* Ajusta la altura según tus necesidades */
    }

        .header button {
            background-color: transparent;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }

            .header button:hover {
                text-decoration: underline;
            }

    .container {
        max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
        margin: auto;
    }

    .header div {
        display: flex;
        align-items: center;
    }
</style>
