<div class="header">
    <button @onclick="GoToHome">Home</button>
    <button @onclick="GoToFavorites">Favorites</button>
    <AuthorizeView Roles="Administrator">
        <Authorized>
            <button class="btn-create-character" @onclick="GoToCharacterOperations">Character operations</button>
        </Authorized>
    </AuthorizeView>
    <div>
        <AuthorizeView>
            <Authorized>
                <button @onclick="GoToProfile">Profile</button>
            </Authorized>
            <NotAuthorized>
                <button @onclick="SignIn">Sign In</button>
                <button @onclick="SignUp">Sign Up</button>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void GoToHome()
    {
        // NavigationManager.NavigateTo("/get-all-characters");
        NavigationManager.NavigateTo("/");
    }

    private void GoToFavorites()
    {
        // Lógica para ir a la página de Favoritos
        NavigationManager.NavigateTo("/user-favourite-characters");
    }

    private void GoToCharacterOperations()
    {
        NavigationManager.NavigateTo("/character-operations");
    }

    private void SignUp()
    {
        // Lógica para ir a la página de Perfil
        NavigationManager.NavigateTo("/create-user");
    }
    private void SignIn()
    {
        NavigationManager.NavigateTo("/sign-in");
    }

    private void GoToProfile()
    {
        NavigationManager.NavigateTo("/profile");
    }
}

<style>
    body{
        margin: 0;
        padding: 0;
    }
</style>
