@using ProjectoCodigoFacilito.Client.Features.Components
@inherits LayoutComponentBase


<div class="wrapper">
    <Header />
    <div class="content">
        <!-- Contenido principal de tu página -->
        @Body
    </div>

    <Footer />
</div>
