@using ProjectoCodigoFacilito.Client.Features.Components
@inherits LayoutComponentBase

<Header />
<div class="wrapper">
    <div class="content">
        <!-- Contenido principal de tu página -->
        @Body
    </div>

    <Footer />
</div>
