.character-list[b-k5a4dik5ln] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.character-item[b-k5a4dik5ln] {
    max-width: 300px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f2f2f2;
}

    .character-item img[b-k5a4dik5ln] {
        max-width: 200px;
        max-height: 200px;
        display: block;
        margin: auto;
    }

h1[b-k5a4dik5ln] {
    text-align: center;
}
