@* @page "/get-all-characters" *@
@page "/"
@using System.Net.Http.Json
@using ProjectoCodigoFacilito.Client.Models.CharacterModel
@using ProjectoCodigoFacilito.Client.Services.Interfaces
@using ProjectoCodigoFacilito.Client.Features.Components

@inject ICharacterService characterService
@inject NavigationManager NavigationManager


<PageTitle>Home</PageTitle>
<h1>Characters</h1>
<ul class="character-list">
    @foreach (var character in characters)
    {
        if (character != null && character.ImageUrl != null)
        {
            <li class="character-item">
                <a href="javascript:void(0);" @onclick="(() => NavigateToCharacter(character.Id))" style="text-decoration: none;">
                    <img src="@character.ImageUrl" alt="@character.Name" />
                    <p>@character.Name</p>
                </a>
            </li>
        }
    }

</ul>


@code {
    private List<GetCharacterModel> characters = new List<GetCharacterModel>();

    protected override async Task OnInitializedAsync()
    {
        characters = await characterService.GetCharacters();
    }
    ///////
    private async Task NavigateToCharacter(int characterId)
    {
        NavigationManager.NavigateTo($"/get-character-by-id/{characterId}");
    }
}

<style>
    .character-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

    .character-item {
        max-width: 300px;
        padding: 10px;
        text-align: center;
        margin: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f2f2f2;
    }

    .character-item img {
        max-width: 200px;
        max-height: 200px;
        display: block;
        margin: auto;
    }

    h1 {
        text-align: center;
    }
</style>
