@* @page "/get-all-characters" *@
@page "/"
@using System.Net.Http.Json
@using ProjectoCodigoFacilito.Client.Models.CharacterModel
@using ProjectoCodigoFacilito.Client.Services.Interfaces
@using ProjectoCodigoFacilito.Client.Features.Components

@inject ICharacterService characterService
@inject NavigationManager NavigationManager


<PageTitle>Home</PageTitle>
<h1>Characters</h1>
<ul class="character-list">
    @foreach (var character in characters)
    {
        if (character != null && character.ImageUrl != null)
        {
            <li class="character-item">
                <a href="javascript:void(0);" @onclick="(() => NavigateToCharacter(character.Id))" style="text-decoration: none;">
                    <img src="@character.ImageUrl" alt="@character.Name" />
                    <p class="name">@character.Name</p>
                </a>
            </li>
        }
    }

</ul>


@code {
    private List<GetCharacterModel> characters = new List<GetCharacterModel>();

    protected override async Task OnInitializedAsync()
    {
        characters = await characterService.GetCharacters();
    }
    ///////
    private async Task NavigateToCharacter(int characterId)
    {
        NavigationManager.NavigateTo($"/get-character-by-id/{characterId}");
    }
}
