.character-details {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 20px auto;
    max-width: 600px;
}

    .character-details h1 {
        font-family: Arial, sans-serif; /* Cambia la fuente del título */
        font-size: 24px; /* Cambia el tamaño del título */
        color: #333333; /* Cambia el color del texto del título */
        font-weight: bold; /* Hace que el título sea más grueso */
    }

.character-info {
    margin-bottom: 20px;
}

    .character-info h2, .character-info p {
        font-family: Arial, sans-serif; /* Cambia la fuente del texto */
        font-size: 16px; /* Cambia el tamaño del texto */
        color: #333333; /* Cambia el color del texto */
        margin-bottom: 10px; /* Añade un espacio entre los párrafos */
        line-height: 1.6; /* Ajusta la altura de línea para hacer el texto más legible */
    }

    .character-info img.character-image {
        max-width: 100%;
        height: auto;
        display: block;
        margin-top: 20px;
    }

.like-icon {
    float: right;
}
