/* /Features/Character/CharacterOperations.razor.rz.scp.css */
/* Estilo para el formulario */

[b-ywg1hy2h6e] form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para los campos de entrada */
[b-ywg1hy2h6e] input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para el botón de enviar */
[b-ywg1hy2h6e] .button-create {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

/* Estilo para el mensaje de respuesta */
[b-ywg1hy2h6e] .response-message {
    margin-top: 10px;
    color: #4CAF50;
    font-weight: bold;
}

[b-ywg1hy2h6e] label {
    display: block;
    margin-bottom: 10px;
}

[b-ywg1hy2h6e] .input-text {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

[b-ywg1hy2h6e] h1 {
    text-align: center;
}

[b-ywg1hy2h6e] .response-message {
    margin-top: 10px;
    color: #4CAF50;
    font-weight: bold;
    text-align: center;
}

[b-ywg1hy2h6e] .button-delete {
    background-color: #f44336;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

[b-ywg1hy2h6e] .button-update {
    background-color: #FF9800; /* quiero un color naranja -> #FF9800 */
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
/* /Features/Character/GetAllCharacters.razor.rz.scp.css */

.character-list[b-k5a4dik5ln] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.character-item[b-k5a4dik5ln] {
    max-width: 300px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f2f2f2;
}

    .character-item img[b-k5a4dik5ln] {
        max-width: 200px;
        max-height: 200px;
        display: block;
        margin: auto;
    }

h1[b-k5a4dik5ln] {
    text-align: center;
}
.name[b-k5a4dik5ln] {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
/* /Features/Character/GetCharacterById.razor.rz.scp.css */
.character-details[b-60zpituw3j] {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 20px auto;
    max-width: 600px;
}

    .character-details h1[b-60zpituw3j] {
        font-family: Arial, sans-serif; /* Cambia la fuente del título */
        font-size: 24px; /* Cambia el tamaño del título */
        color: #333333; /* Cambia el color del texto del título */
        font-weight: bold; /* Hace que el título sea más grueso */
    }

.character-info[b-60zpituw3j] {
    margin-bottom: 20px;
}

    .character-info h2[b-60zpituw3j], .character-info p[b-60zpituw3j] {
        font-family: Arial, sans-serif; /* Cambia la fuente del texto */
        font-size: 16px; /* Cambia el tamaño del texto */
        color: #333333; /* Cambia el color del texto */
        margin-bottom: 10px; /* Añade un espacio entre los párrafos */
        line-height: 1.6; /* Ajusta la altura de línea para hacer el texto más legible */
    }

    .character-info img.character-image[b-60zpituw3j] {
        max-width: 100%;
        height: auto;
        display: block;
        margin-top: 20px;
    }

.like-icon[b-60zpituw3j] {
    float: right;
}
/* /Features/Components/Footer.razor.rz.scp.css */

.footer[b-mmkr6xc6w3] {
    background-color: #333;
    color: white;
    height: 50px;  /*Altura del footer*/ 
}

.footer .container[b-mmkr6xc6w3] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.github-link[b-mmkr6xc6w3] {
    color: white; /* Color del texto blanco */
    text-decoration: none; /* Elimina el subrayado */
    font-weight: bold; /* Opcional: Puedes añadir negrita al texto si lo deseas */
}

    .github-link:hover[b-mmkr6xc6w3] {
        text-decoration: underline; /* Opcional: Subrayado al pasar el mouse por encima */
    }
/* /Features/Components/Header.razor.rz.scp.css */


.header[b-gtj64fezvg] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    height: 50px; /* Ajusta la altura según tus necesidades */
    
}

    .header button[b-gtj64fezvg] {
        background-color: transparent;
        color: #ffffff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 1px;
    }

.header button:hover[b-gtj64fezvg] {
    text-decoration: underline;
}

.container[b-gtj64fezvg] {
    max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
    margin: auto;
}

.header div[b-gtj64fezvg] {
    display: flex;
    align-items: center;
}

.btn-create-character[b-gtj64fezvg] {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

    .btn-create-character:hover[b-gtj64fezvg] {
        text-decoration: underline;
    }

/* /Features/User/CreateUser.razor.rz.scp.css */
 /*Estilo para el formulario*/ 
.form-container[b-51gg7j4x9p] {
    max-width: 400px;
    margin: auto;
    margin-top: 60px;
    padding: 40px;
    padding-bottom: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

 /*Estilo para los campos de entrada*/ 
.form-control[b-51gg7j4x9p] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

 /*Estilo para el botón de enviar*/ 
.btn[b-51gg7j4x9p] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.btn-primary[b-51gg7j4x9p] {
    background-color: #007bff;
    color: #fff;
}

    .btn-primary:hover[b-51gg7j4x9p] {
        background-color: #0056b3;
    }

 /*Estilo para el mensaje de respuesta*/ 
.response-message[b-51gg7j4x9p] {
    margin-top: 10px;
    color: #4CAF50;
    font-weight: bold;
}

 /*Estilo para las etiquetas*/ 
label[b-51gg7j4x9p] {
    display: block;
    margin-bottom: 5px;
}

h1[b-51gg7j4x9p] {
    text-align: center;
    margin-top: 20px;
}

p[b-51gg7j4x9p] {
    text-align: center;
}
/* /Features/User/SignIn.razor.rz.scp.css */
/* Estilo para el formulario */
.form-container[b-j2d58fhtro] {
    max-width: 400px;
    margin: auto;
    margin-top: 60px;
    padding: 40px;
    padding-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para los campos de entrada */
.form-control[b-j2d58fhtro] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para el botón de enviar */
.btn[b-j2d58fhtro] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.btn-primary[b-j2d58fhtro] {
    background-color: #007bff;
    color: #fff;
}

    .btn-primary:hover[b-j2d58fhtro] {
        background-color: #0056b3;
    }

/* Estilo para el mensaje de respuesta */
.response-message[b-j2d58fhtro] {
    margin-top: 10px;
    color: #4CAF50;
    font-weight: bold;
}

/* Estilo para las etiquetas */
label[b-j2d58fhtro] {
    display: block;
    margin-bottom: 5px;
}

h1[b-j2d58fhtro] {
    text-align: center;
    margin-top: 20px;
}

p[b-j2d58fhtro] {
    text-align: center;
}
/* /Features/User/UserFavouriteCharacters.razor.rz.scp.css */
.character-list[b-u4wpx43ncg] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.character-item[b-u4wpx43ncg] {
    max-width: 300px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f2f2f2;
}

    .character-item img[b-u4wpx43ncg] {
        max-width: 200px;
        max-height: 200px;
        display: block;
        margin: auto;
    }

h1[b-u4wpx43ncg] {
    text-align: center;
}

.name[b-u4wpx43ncg] {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
/* /Features/User/UserProfile.razor.rz.scp.css */
/* Estilos para el contenedor principal */
.profile-container[b-46yk8sfk5l] {
    margin-top: 50px; /* Reducido el margen superior */
    padding: 20px; /* Espacio interior para mejorar la apariencia */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alinear el contenido en columna */
    border-radius: 10px; /* Borde redondeado */
    background-color: #f3f3f3; /* Color de fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el título */
.profile-title[b-46yk8sfk5l] {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos del contenedor */
    align-items: center;
}

/* Estilos para los elementos del perfil */
.profile-item[b-46yk8sfk5l] {
    margin-bottom: 15px; /* Espacio entre elementos */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto */
}

/* Estilos para los botones */
.btn-logout[b-46yk8sfk5l],
.btn-modify[b-46yk8sfk5l],
.btn-delete[b-46yk8sfk5l],
.btn-submit[b-46yk8sfk5l] {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color de texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s ease; /* Transición suave */
    margin-bottom: 10px; /* Espacio inferior */
}

.btn-modify[b-46yk8sfk5l]{
    background-color: #ffc107;
}
.btn-submit[b-46yk8sfk5l]{
    background-color: #28a745;
}
.btn-delete[b-46yk8sfk5l]{
    background-color: #dc3545;
}

    /* Estilos para los botones al pasar el ratón */
    .btn-logout:hover[b-46yk8sfk5l] {
        background-color: #0056b3;
    }

    .btn-modify:hover[b-46yk8sfk5l]{
        background-color: #d39e00; 
    }
    .btn-submit:hover[b-46yk8sfk5l]{
        background-color: #218838;
    }
    .btn-delete:hover[b-46yk8sfk5l]{
        background-color: #c82333;
    }

/* Estilos para la tarjeta */
.profile-card[b-46yk8sfk5l] {
    width: 100%;
    background-color: #fff; /* Color de fondo */
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos de formulario */
.form-group[b-46yk8sfk5l] {
    margin-bottom: 20px;
}

label[b-46yk8sfk5l] {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Color de texto */
}

.form-control[b-46yk8sfk5l] {
    width: 100%;
    max-width: 300px; /* Ancho máximo ajustado para los inputs */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el mensaje de respuesta */
.response-message[b-46yk8sfk5l] {
    margin-top: 10px;
    color: #28a745; /* Verde */
    font-weight: bold;
    text-align: center;
}
/* /Layoutt/MainLayout.razor.rz.scp.css */
.wrapper[b-pcs91oqswx] {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*Establece una altura mínima para el contenedor principal */
}

.content[b-pcs91oqswx] {
    flex: 1; /*Hace que el contenido ocupe todo el espacio disponible */
}
